.untangle {
    font-size: 18px;
    max-width: 1000px;
    padding: 48px 24px;
    margin: 0 auto;
    color: var(--text);
    background: var(--bg);
}

.untangle h1 {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--text-light);
    border-radius: 5px;
    background: var(--surface);
    color: var(--text);
    font-size: 16px;
}

.btn-primary {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--surface);
    background: var(--hibiscus);
    border: none;
    cursor: pointer;

    &:hover {
        background: var(--mango);
    }
    &:focus-visible {
        outline: 2px solid var(--text);
        outline-offset: 2px;
    }
}

.btn-em {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--surface);
    background: var(--mango);
    border: none;
    cursor: pointer;

    &:hover {
        background: var(--hibiscus);
    }
    &:focus-visible {
        outline: 2px solid var(--text);
        outline-offset: 2px;
    }
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.task-list {
    margin-top: 32px;
    padding: 0;
}

.task-item {
    display: flex;
    font-size: 18px;
    padding: 12px 8px;
    color: var(--text-light);
    border-bottom: 1px solid var(--blue);
    align-items: center;
    justify-content: space-between;

    &:hover {
        color: var(--text);
        cursor: pointer;
        background: var(--surface);
    }
}

.task-name {
    flex: 1;
    padding-left: 12px;
}

.task-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: var(--green);
}