@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@400;500;600&display=swap');

:root {
    --bg: #f8fcff;
    --surface: #ffffff;
    --text: #3B1F0E;
    --text-light: #A0714F;

    --yellow: #F5D97E;
    --mango: #ff8040;
    --coral: #FF7096;
    --hibiscus: #b43757 ;
    --lime: #bae571;
    --green: #506a02;
    --wave: #c8dbef;
    --blue: #1f80b8;
    --lavender: #d7bfdc;
    --amethyst: #9966cb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--brown);
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
}
